# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Python files
*.pyc

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.pdb

# VStudio files
*.ncb
*.ncb
*.aps
*.opt
*.clw
*.plg
*.mak
*.suo
*.sbr
*.idb
*.res
*.ilk
*.exp
*.bsc
*.sdf
*.user
*.manifest
*.dep
*.log
*.tlog
*.lastbuildstate
*.ipch
*.opensdf

# Specific files
_backup
_bin
_support
build
win
clear.cmd
