BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always

Language: C
AlignAfterOpenBracket: DontAlign
ColumnLimit: 80
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
BinPackArguments: false
BinPackParameters: false
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 2
SortIncludes: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AlignOperands: DontAlign
BreakBeforeTernaryOperators: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
IndentExternBlock: NoIndent
